<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Icare Health Monitoring | Login & Register</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" integrity="sha512-UTNP5BXLIptsaj5WdKFrkFov94lDx+eBvbKyoe1YAfjeRPC+gT5kyZ10kOHCfNZqEui1sxmqvodNUx3KbuYI/A==" crossorigin="anonymous"
        referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="content flex_space">
            <div class="logo">
                <img src="images/icare_logo.png" height="80" alt="Icare Logo">
            </div>
            <div class="navlinks">
              <ul id="menulist">
                  <li><a href="dashboard.html" class="link active">Dashboard</a></li>
                  <li><a href="#">Reports</a></li>
                  <li><a href="#">Monitoring</a></li>
                  <li><a href="#">Contact</a></li>
                  <li><button class="btn white-btn" id="loginbtn" onclick="login()">LOGIN</button></li>
                  <li><button class="btn white-btn" id="registerBtn" onclick="register()">REGISTER</button></li>
            </ul>
            </div>
        </div>
    </header>  
    <section class="form-content">
        <div class="container">
            <h1>Login to Icare Health Monitoring</h1>
            <form action="/login"  method="POST">
                <label for="role">Role:</label>
                <select id="role" name="role" required>
                    <option value="doctor">Doctor</option>
                    <option value="caregiver">Caregiver</option>
                    <option value="patient">Patient</option>
                </select>
                <label for="username">Email:</label>
                <input type="text" id="email" name="email" required>
                
                <label for="password">Password:</label>
                <input type="password" id="password"  name="password" required>
                
                <button type="submit">Login</button>
            </form>
            <p>Don't have an account? <a href="register">Register here</a></p>
        </div>
    </section>
    


    <footer>
        <div class="container grid">
          <div class="box">
            <img src="images/logo2.jpeg" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
              aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    
            <div class="icon">
              <i class="fa fa-facebook-f"></i>
              <i class="fa fa-instagram"></i>
              <i class="fa fa-twitter"></i>
              <i class="fa fa-youtube"></i>
            </div>
        </div>
    
        <div class="box">
            <h2>Links</h2>
            <ul>
              <li>Company History</li>
              <li>About Us</li>
              <li>Contact Us</li>
              <li>Services</li>
              <li>Privacy Policy</li>
            </ul>
        </div>
    
        <div class="box">
            <h2>Contact Us</h2>
            <p>Lorem ipsum dolor sit amet constur adipisicing elit sed do eiusmtem por incid.
            </p>
            <i class="fa fa-location-dot"></i>
            <label>149, Unknown street, Ottawa,ON Canada. </label> <br>
            <i class="fa fa-phone"></i>
            <label>+1 (819) 930 9172</label> <br>
            <i class="fa fa-envelope"></i>
            <label>info@csi2132.ca</label> <br>
          </div>
        </div>
    </footer>
    
    <div class="legal">
        <p class="container">Copyright (c) 2022 Copyright Holder All Rights Reserved.</p>
    </div>
    
    
    
    <script src="https://kit.fontawesome.com/032d11eac3.js" crossorigin="anonymous"></script>
   
</body>
</html>
