<main class="container">
    <h1>Welcome, Dr. {{ doctor_data_dict['first_name'] }} {{ doctor_data_dict['last_name'] }}</h1>
    <div class="doctor-info">
        <h2>Doctor Information</h2>
        <p><strong>Name:</strong> Dr. {{ doctor_data_dict['first_name'] }} {{ doctor_data_dict['last_name'] }}</p>
        <p><strong>Specialty: Urologue</strong> </p>
        <p><strong>Email:</strong> {{ doctor_data_dict['email'] }}</p>
        <p><strong>Phone:</strong> {{ doctor_data_dict['phone_number'] }}</p>
        <p><strong>Address:</strong> {{ doctor_data_dict['address'] }}</p>
    </div>
    <section class="patient-list">
        <h2>Patient List</h2>
        
        <!-- Formulaire d'ajout de patient -->
        <form method="POST">
            <input type="text" name="patient_id" id="newPatientID" placeholder="Patient ID" required>
            <button type="submit">+ Add Patient</button>
        </form>

        <table border="1">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Surname</th>
                    <th>Firstname</th>
                    <th>Patient ID</th>
                    <th>Caregiver ID</th>
                    <th>Patient #</th>
                    <th>Patient email</th>
                    <th>Patient Adress</th>
                    <th>Caregiver Task</th>
                    <th>Patient Task</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <h1>Welcome, Dr. {{ new_patient[0]}} </h1>
            <tbody id="patientTable">

                {% for patient in new_patient %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ patient['last_name'] }}</td>
                        <td>{{ patient['first_name'] }}</td>
                        <td>{{ patient['patient_id'] }}</td>
                        <td>{{ ' ' }}</td>
                        <td>{{ patient['phone_number'] }}</td>
                        <td>{{ patient['patient_email'] }}</td>
                        <td>{{ patient['patient_adress'] }}</td>
                        <td>
                            <button>See Caregiver Task</button>
                        </td>
                        <td>
                            <button>See Patient Task</button>
                        </td>
                        <td>
                            <form method="POST" action="{{ url_for('doctor') }}">
                                <input type="hidden" name="patient_id" value="{{ patient['patient_id'] }}">
                                <button type="submit" name="remove_patient" onclick="return confirm('Are you sure you want to remove this patient?')">Remove</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</main>
